<h2> confirmer votre participation : </h2>
<div class="card">
  <div class="card-body text-center">
        <%= form_tag post_participations_path(@post) do %>
            <article>
                <%= submit_tag "Confirmer" %>
            </article>
        <% end %>
    </div>
</div>
