// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pad {
  padding-left: 25px;
  padding-right: 25px;
  }

.lead-color-border
{
  border: solid red;
}

.profile-btn
{
margin-left: 345px;
background-color:#3da676;
border-color:#3da676;
}

.list
{
list-style: circle;
padding-left:25px;
}


